body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
 header{
    background-color: #fff;
    margin-bottom: 22px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
 }

 .header-block {
    display: flex;
    align-items: center;
    gap: 32px;
 }
 .logo {
    display: flex;
    align-items: center;

 }
 .nav {
    display: flex;
    align-items: center;
    gap: 48px;
 }
