.body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
 .header{
    background-color: #fff;
    margin-bottom: 22px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }